.lead__caption {
    font-family: Inter;
    font-weight: normal;
    font-size: 0.625em;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 8px 0 0;
  }
  