.cover__subtitle {
    color: #ffffff;
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 2;
    width: 35%;
    margin: 32px 0 0;
  }