.place {
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: min-content 3fr;
    gap: 40px 48px;
    margin-top: 80px;
  }
  
  .place:nth-of-type(1) {
    margin-top: 0;
  }

  @media screen and (max-width: 425px) {
    .place {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(min-content, max-content)) 0;
      gap: 30px;
    }
  }