.video__content-title {
    color: #ffffff;
    margin: 0 auto;
    width: 60%;
    font-size: 72px;
    font-weight: 900;
    line-height: 78px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .video__content-title {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .video__content-title {
        width: 60%;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 500px) {
    .video__content-title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}