.intro__text {
    color: #ffffff;
    margin: 40px 0 33px;
    width: 65%;
    font-family: Inter;
    font-weight: normal;
    font-size: 1em;
    line-height: 163%;
  }
  
@media screen and (max-width: 1279px) {
  .intro__text {
    width: 75%;
  }
  }

@media screen and (max-width: 1024px) {
  .intro__text {
    width: 100%;
  }
}