.comment__image {
    border-radius: 97px;
    width: 97px;
    height: 97px;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width: 768px) {
    .comment__image {
        margin: 0 auto;
    }
}