.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    justify-items: center;
    align-self: center;
    width: 92%;
    margin: 92px auto;
  }