.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2A2C2F;
    width: 92%;
    margin: 92px auto 0;
    padding-bottom: 24px;
  }

@media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      justify-content: flex-start;
    }
}