.cover__title {
    color: #ffffff;
    font-family: Inter;
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    width: 45%;
    margin: 0;
  }