.footer__link-decoration {
  color: #ffffff;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.1em;
  text-decoration: none;
  margin: 0 18px 0 0;
  transition: opacity 0.3s linear;
}

.footer__link-decoration:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link-decoration {
      margin: 0;
      font-size: 24px;
      line-height: 24px;
      text-align: left;
  }
}