.header__link {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 117%;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    margin: 0 16px 0 0;
    transition: opacity 0.3s linear;
}

.header__link:hover {
    opacity: 0.8;
}

.header__link:nth-child(2) {
    margin-right: 0;
}

@media screen and (max-width: 425px) {
    .header__link {
        font-size: 1.125em;
        line-height: 111%;
    }
}